# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
ENV/
env/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
static_root/
static_cdn/

# VSCode
.vscode/

# PyCharm
.idea/

# Mac / Linux / Windows
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Migrations (optional: ignore if you recreate them often)
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/__pycache__/
